
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Message2</title>
</head>
<body>
    <div>
        <p> Спасибо , Ваша заявка принята.В ближайшее время с вами свяжуться !</p>
        <p><a href="/Home/Index/">Вернуться к списку вакансий</a></p>
    </div>
</body>
</html>
