
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Message</title>
</head>
<body>
    <div>
        <p>К сожалению Этот номер занят попробуйте <a href="/Home/AllNumbers/">Выбрать другой номер</a></p>
        <p><a href="/Home/Index/">Вернуться на главную</a></p>
        
    </div>
</body>
</html>

