
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Message</title>
</head>
<body>
    <div>
        <p>Для просмотра этой страницы необходимо  <a href="/Account/Login/">Авторизоваться на сайте</a></p>
        <p>Если у вас еще нет аккаунта то вы можете  <a href="/Account/Register/">Зарегистрироваться на сайте</a></p>
        <p><a href="/Home/Index/">Вернуться на главную</a></p>

    </div>
</body>
</html>
