
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Message</title>
</head>
<body>
    <div>
        <p> Посетитель прожил @ViewBag.price дней </p>
        <p><a href="/Admin/Admin/">Вернуться к странице администрирования</a></p>
        
    </div>
</body>
</html>

