@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Message</title>
</head>
<body>
    <div>
        <p> Номер добавлен @ViewBag.id !</p>
        
        <p><a href="/Admin/Admin/">Перейти к cтранице администрирования</a></p>
    </div>
</body>
</html>