
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Message</title>
</head>
<body>
    <div>
        <p>
            Спасибо , Ваше объявление будет добавлено на сайт
        </p>
        <p><a href="/Home/Index/">Вернуться к списку вакансий</a></p>
    </div>
</body>
</html>
